<!-- Navbar -->
<div class="navbar bg-slate-900 h-16 flex items-center justify-between px-4 fixed top-0 left-0 w-full z-50">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="h-6 w-6 cursor-pointer">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
  </svg>
</div>

<!-- Sidebar -->
<app-sidebar class="sidebar fixed top-16 left-0 h-[calc(100vh-4rem)]">
</app-sidebar>

<!-- Main content area -->
<div class="ml-64 mt-16 p-8">
  <app-balance class="balance-card"></app-balance>
</div>
