<main>
  <form [formGroup]="formGroup" (ngSubmit)="clickRegister()">
    <div class="bg-slate-200">
      <div class="bg-white flex container justify-center mx-auto h-auto w-[550px] mt-20 rounded-xl shadow-lg mb-24 py-5">
        <div class="p-4 justify-center mx-auto items-center">
          <h1 class="font-semibold text-2xl text-center justify-center mt-2 select-none flex">
            Registrarse
          </h1>

          <h1 class="mt-2 font-semibold justify-start mb-2">
            Usuario <a class="text-red-700">*</a>
          </h1>
          <input type="text"
            class="px-4 py-1 items-start justify-start mt-1 rounded-lg border-solid shadow-lg cursor-text h-8 w-[400px] bg-slate-200"
            formControlName="usuario" />
          <mat-error *ngIf="formGroup.get('usuario')?.hasError('required')" class="mt-2 flex text-red-700">Ingrese el usuario</mat-error>

          <h1 class="mt-2 font-semibold justify-start mb-2">
            Documento<a class="text-red-700">*</a>
          </h1>
          <input type="text"
            class="px-4 py-1 items-start justify-start mt-1 rounded-lg border-solid shadow-lg cursor-text h-8 w-[400px] bg-slate-200"
            formControlName="documento" />
          <mat-error *ngIf="formGroup.get('documento')?.hasError('required')" class="mt-2 flex text-red-700">Ingrese el Documento</mat-error>

          <h1 class="mt-2 font-semibold justify-start mb-2">
            Contraseña <a class="text-red-700">*</a>
          </h1>
          <input type="password"
            class="px-4 py-1 items-start justify-start mt-1 rounded-lg border-solid shadow-lg cursor-text h-8 w-[400px] bg-slate-200"
            formControlName="contrasena" />
          <mat-error *ngIf="formGroup.get('contrasena')?.hasError('required')" class="mt-2 flex text-red-700">Ingrese la contraseña</mat-error>
          <mat-error *ngIf="formGroup.get('contrasena')?.hasError('minlength')" class="mt-2 flex text-red-700">La contraseña debe tener al menos 8 caracteres</mat-error>

          <a (click)="clickRegister()"
            class="w-40 h-12 bg-[#46119c] flex justify-center items-center rounded-lg mt-7 border-solid font-bold text-white border-b-4 border-[#a7009c] hover:cursor-pointer hover:bg-[#eb08cd] select-none">
            Registrarse
          </a>
        </div>
      </div>
    </div>
  </form>
</main>
