<main class="bg-slate-200">
  <form [formGroup]="userForm">
    <div class="bg-black opacity-80 h-[500px] w-[990px] flex container justify-center mx-auto mt-24 drop-shadow-lg">
      <div class="bg-white h-[500px] w-[400px] flex mx-auto ml-[600px] drop-shadow-lg shadow-2xl">
        <div class="justify-center mx-auto items-center mt-10">
          <h1 class="font-semibold text-2xl text-center">Login</h1>

          <!-- Usuario -->
          <h1 class="mt-14 font-semibold">Usuario</h1>
          <input matInput type="text" placeholder="Usuario"
            class="px-4 py-1 mt-1 rounded-lg border-solid shadow-lg cursor-text h-8 w-[260px] bg-slate-200 form-control"
            formControlName="usuario" />
          <mat-error class="flex text-red-600 mt-2" *ngIf="userForm.get('usuario')?.hasError('required')">
            Ingrese el usuario
          </mat-error>

          <!-- Contraseña -->
          <h1 class="mt-5 font-semibold">Contraseña</h1>
          <input matInput type="password" placeholder="Contraseña"
            class="px-4 py-1 mt-1 rounded-lg border-solid shadow-lg cursor-text h-8 w-[260px] bg-slate-200 form-control"
            formControlName="contrasena" />
          <mat-error class="flex text-red-600 mt-2" *ngIf="userForm.get('contrasena')?.hasError('required')">
            Ingrese la contraseña
          </mat-error>

          <!-- Botón de Iniciar Sesión -->
          <a (click)="clickLogin()"
          class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mx-auto focus:outline-none focus:shadow-outline flex cursor-pointer w-auto mt-4 ">
            Iniciar sesión
          </a>

          <!-- Registro -->
          <p class="mt-2 text-slate-600 select-none">¿No tienes cuenta?</p>
          <a [routerLink]="'/auth/register'"
            class="text-blue-400 underline text-sm cursor-pointer select-none">Regístrate</a>
        </div>
      </div>
    </div>
  </form>
</main>
