<div class="container mx-auto p-6">
  <!-- Tarjeta de Retiro con Saldo Actual -->
  <div class="withdraw-card bg-white rounded-lg shadow-xl max-w-md mx-auto border border-gray-300 transition-transform transform hover:scale-105 duration-300">
    <!-- Sección de Balance en negro -->
    <div class="bg-black text-white p-8 rounded-t-lg text-center">
      <div class="text-4xl font-extrabold tracking-wide">{{ currentBalance | currency }}</div>
      <div class="text-sm mt-2 opacity-75">Saldo Actual</div>
    </div>

    <!-- Sección de Formulario -->
    <div class="p-8">
      <!-- Formulario de Retiro -->
      <form (ngSubmit)="makeWithdrawal(amount)" *ngIf="!isLoading && !successMessage" class="mb-4">
        <!-- Campo de Monto -->
        <div class="mb-6">
          <label for="amount" class="block text-gray-700 font-semibold mb-2">Monto a Retirar:</label>
          <input
            type="number"
            id="amount"
            name="amount"
            [(ngModel)]="amount"
            class="shadow-md appearance-none border border-gray-300 rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent transition duration-300"
            placeholder="Ingresa el monto"
            required
          >
        </div>

        <!-- Botón de Retiro -->
        <button
          type="submit"
          class="bg-gradient-to-r from-black to-gray-800 hover:from-gray-700 hover:to-gray-600 text-white font-bold py-3 px-6 rounded-lg w-full transition-transform transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
          Retirar Fondos
        </button>
      </form>

      <!-- Mensaje de Éxito -->
      <div *ngIf="successMessage" class="mt-6 text-center">
        <svg class="h-8 w-8 text-green-500 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2l4-4m0 0a9 9 0 11-4-4" />
        </svg>
        <div class="mt-2 text-green-500 font-semibold">{{ successMessage }}</div>
      </div>

      <!-- Mensaje de Error -->
      <div *ngIf="errorMessage" class="mt-6 text-center">
        <svg class="h-8 w-8 text-red-500 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2l4-4m0 0a9 9 0 11-4-4" />
        </svg>
        <div class="mt-2 text-red-500 font-semibold">{{ errorMessage }}</div>
      </div>
    </div>
  </div>
</div>
